
.searchBar {
    border: none;
    color: black;
    position: fixed;
    left: 61%;
}

button#write_btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-image: none; */
    border: 1px solid #c498d6;
    border-radius: 4px;
    background-color: #c29ee3;
    float:right!important;
    font-weight: 600;
    color: #FFFFFF;
}