<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="userDto" type="com.nh.dto.UserDto"/>
        <typeAlias alias="boardDto" type="com.nh.dto.BoardDto"/>
        <typeAlias alias="galleryDto" type="com.nh.dto.GalleryDto"/>
        <typeAlias alias="photoDto" type="com.nh.dto.PhotoDto"/>
    </typeAliases>
</configuration>